.c {
  width: 100vw;
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
}
.slider-container {
  height: 15vh;
  width: 70vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.slider-container .slider {
  width: 50%;
}
.button-container {
  height: 15vh;
  align-items: flex-start;
  margin-top: 5vh;
}
.button-container .btn {
  margin: 0 1px;
}
.array-container {
  height: 70vh;
  width: 100%;
  display: inline;
  align-items: flex-start;
}
.array-bar {
  display: inline-block;
  margin: 0 1px;
}
